extends ../layout

block content
  .container
    h3.white-text Profile Information

    form(action='/account/settings', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .row
        label.grey-text(for="email") Email
          input.white-text(type='email', name='email', id='email', value=user.email, autocomplete='email', required)
          if user.emailVerified
              | Verified
          else
              .red-text Unverified: 
              a(href='/account/verify') Send verification email
      .row
        label.grey-text(for="name") Name
          input.white-text(type='text', name='name', id='name', value=user.profile.name, autocomplete='name')
      .row
        label.col-md-3.col-form-label.font-weight-bold.text-right.white-text(for='skills') Skills
          input.skill-input.white-text(type='text' name='skills' value=user.profile.skills)
          br
        


      .row
        label.grey-text(for='location') Location
          input.white-text(type='text', name='location', id='location', value=user.profile.location, autocomplete)
      .row
        label.grey-text(for='website') Zoom Personal Meeting URL
          input.white-text(type='text', name='website', id='website', value=user.profile.website, autocomplete='url')
      .row
        label.grey-text(for="gravatar") Gravatar
        br
        img(src=user.gravatar(), class='profile', width='100', height='100')
      .row
        button.app-btn.btn(type='submit')
          i
          | Update Profile

    h3.white-text Change Password

    form(action='/account/password', method='POST')
      input.white-text(type='hidden', name='_csrf', value=_csrf)
      .row
        label(for='password') New Password
        input.white-text(type='password', name='password', id='password', autocomplete='new-password', minlength='8', required)
      .row
        label(for='confirmPassword') Confirm Password
        input.white-text(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password', minlength='8', required)
      .row
          button.app-btn.btn(type='submit')
            i
            | Change Password

    h3.white-text Delete Account

    form(action='/account/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
      .row
        p.offset-sm-3.col-md-7.pl-2.white-text You can delete your account, but keep in mind this action is irreversible.
        input(type='hidden', name='_csrf', value=_csrf)
      .row
          button.btn-danger.btn(type='submit')
            i
            | Delete my account

    h3.white-text Linked Accounts
    
    .row
      if user.google
        p.mb-1.white-text: a.text-danger(href='/account/unlink/google') Unlink your Google account
      else
        p.mb-1.white-text: a.grey-text(href='/auth/google') Link your Google account